In [3]:
# Automated quartile binning
import pandas as pd
df = pd.DataFrame({'Target':[0,1,0,1,1,1,0],'Feature 1':[4532,2456,4563,5455,4524,5652,3445],'Feature 2':[45334,24236,45643,55455,45424,56252,3445]})

for item in list(df.drop(columns=['Target'])): # Features for quartile binning must be numeric, add non-numeric columns to drop(columns=[...])
    x = df[item].describe()
    invl = x['25%'], x['50%'], x['75%'], x['max']
    
    # set bin columns and references
    s1 = str(item+"_w1")
    s1_ = []
    s2 = str(item+"_w2")
    s2_ = []
    s3 = str(item+"_w3")
    s3_ = []
    s4 = str(item+"_w4")
    s4_ = []
    
    for val in df[item]:
        if val <= invl[0]:
            s1_.append(1)
            s2_.append(0)
            s3_.append(0)
            s4_.append(0)
        elif (invl[0] < val <= invl[1]):
            s1_.append(0)
            s2_.append(1)
            s3_.append(0)
            s4_.append(0)
        elif (invl[1] < val <= invl[2]):
            s1_.append(0)
            s2_.append(0)
            s3_.append(1)
            s4_.append(0)
        else:
            s1_.append(0)
            s2_.append(0)
            s3_.append(0)
            s4_.append(1)
    
    # Add bins to df
    df[s1] = s1_
    df[s2] = s2_
    df[s3] = s3_
    df[s4] = s4_

df

,Target,Feature 1,Feature 2,Feature 1_w1,Feature 1_w2,Feature 1_w3,Feature 1_w4,Feature 2_w1,Feature 2_w2,Feature 2_w3,Feature 2_w4
0,0,4532,45334,0,1,0,0,0,1,0,0
1,1,2456,24236,1,0,0,0,1,0,0,0
2,0,4563,45643,0,0,1,0,0,0,1,0
3,1,5455,55455,0,0,0,1,0,0,0,1
4,1,4524,45424,0,1,0,0,0,1,0,0
5,1,5652,56252,0,0,0,1,0,0,0,1
6,0,3445,3445,1,0,0,0,1,0,0,0